    <div class="container mx-auto max-w-4xl p-4">

  <div *ngIf="isLoading" class="text-center py-20">
    <p class="text-gray-500">Đang tải đơn hàng...</p>
  </div>

  <div *ngIf="order" class="bg-white rounded-lg shadow p-4 space-y-4">

    <h2 class="text-xl font-bold">Chi tiết đơn hàng #{{ order?.id }}</h2>

    <!-- Trạng thái -->
    <div class="flex justify-between items-center">
      <span class="font-medium">Trạng thái:</span>
      <span class="font-bold text-blue-600">{{ order?.statusText }}</span>
    </div>

    <hr>

    <!-- Shop -->
    <div>
      <p class="font-semibold">Cửa hàng</p>
      <p>{{ order?.shop?.name }}</p>
    </div>

    <hr>

    <!-- Sản phẩm -->
    <div>
      <p class="font-semibold mb-2">Sản phẩm</p>

      <div *ngFor="let item of order.items" class="flex space-x-3 border p-3 rounded-md mb-2">
        <img [src]="item.imageUrl" class="w-20 h-20 rounded-md border object-cover">

        <div class="flex-1">
          <p class="font-semibold">{{ item.productName }}</p>
          <p class="text-gray-500 text-sm">{{ item.variantName }}</p>
          <p class="text-sm">SL: {{ item.quantity }}</p>
        </div>

        <div class="text-blue-500 font-semibold">{{ item.priceAtPurchase | number }}₫</div>
      </div>
    </div>

    <hr>

    <!-- Địa chỉ giao hàng -->
    <div>
      <p class="font-semibold">Địa chỉ giao hàng</p>
      <p>{{ order?.shippingAddress?.fullName }} | {{ order?.shippingAddress?.phone }}</p>
      <p>
        {{ order?.shippingAddress?.addressLine }},
        {{ order?.shippingAddress?.ward }},
        {{ order?.shippingAddress?.district }},
        {{ order?.shippingAddress?.city }}
      </p>
    </div>

    <hr>

    <!-- Tổng tiền -->
    <div class="flex justify-between items-center">
      <span class="text-lg font-semibold">Tổng tiền:</span>
      <span class="text-2xl text-blue-600 font-bold">{{ order?.totalAmount | number }}₫</span>
    </div>

  </div>

</div>
